{{- if $.Site.RegularPages }}
<div class="widget">
    <h3 class="widget-title">{{T "widget_recent_posts" }}</h3>
    <div class="widget-body">
        <ul class="recent-post-list list-unstyled no-thumbnail">
            {{- range first 5 ($.Scratch.Get "pages") }}
            <li>
                <div class="item-inner">
                    <p class="item-title">
                        <a href="{{- .Permalink }}" class="title">{{ .Title }}</a>
                    </p>
                    <p class="item-date">
                        <time datetime="{{ .Date }}" itemprop="datePublished">{{- .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>
                    </p>
                </div>
            </li>
            {{- end }}
        </ul>
    </div>
</div>
{{- end }}