{{- if .Site.Params.enablePostCopyright }}
<blockquote class="mt-2x">
  <ul class="post-copyright list-unstyled">
    <li class="post-copyright-link hidden-xs">
      <strong>{{ T "copyright_post" }}: </strong>
      <a href="{{- .Permalink }}" title="{{- .Title }}" target="_blank" rel="external">{{- .Permalink }}</a>
    </li>
    <li class="post-copyright-license">
      <strong>{{ T "copyright_license" }}: </strong>
{{- if .Site.Params.copyright_link }}
        <a href="{{- .Site.Params.copyright_link }}" target="_blank" rel="external">{{ .Site.Copyright }}</a>
{{- else }}
        {{ .Site.Copyright }}
{{- end }}
    </li>
  </ul>
</blockquote>
{{ $profile := .Site.Params.profile }}
{{- with $profile.enabled }}
<div class="panel panel-default panel-badger">
  <div class="panel-body">
    <figure class="media">
      <div class="media-left">
        <a href="{{- $profile.follow }}" target="_blank" class="img-burn thumb-sm visible-lg">
          <img src="{{- $profile.avatar | absURL }}" class="img-rounded w-full" alt="">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a href="{{- $profile.follow }}" target="_blank"><span class="text-dark">{{- $profile.author }}</span><small class="ml-1x">{{- $profile.author_title }}</small></a></h3>
        <div>{{- $profile.author_description }}</div>
      </div>
    </figure>
  </div>
</div>
{{- end }}
{{- end }}
