{{- define "content"}}
{{- $categories := .Site.Taxonomies.categories }}
<main class="main" role="main">
    <article class="article article-categories article-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="name" class="hidden-xs">{{- .Title }}</h1>
            <p class="text-muted hidden-xs">{{- T "total_category" (len $categories) }}</p>
            <nav role="navigation" id="nav-main" class="okayNav">
                <ul>
                    <li><a href="{{- "categories" | absURL }}">{{- T "nav_all" }}</a></li>
                    {{- range $categories }}
                    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                    {{- end }}
                </ul>
            </nav>
        </header>
        <!-- /header -->
        <div class="article-body">
            {{- range $name, $taxonomy := $categories  }}
            <div class="panel panel-default b-no">
                <div class="panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{- $name | md5 }}" aria-expanded="true">
                            <i class="icon icon-folder text-active"></i><i class="icon icon-folder-open text"></i>
                            {{- $name }}
                        </a>
                        <small class="text-muted">(Total {{- .Count }} articles)</small>
                    </h3>
                </div>
                <div id="collapse{{- $name | md5 }}" class="panel-collapse collapse in" role="tabpanel"
                    aria-labelledby="heading{{- $name }} ">
                    <div class="panel-body">
                        <div class="collection">
                            {{- range $taxonomy}}
                                {{- .Page.Scratch.Set "type" "link"}}
                                {{- partial "item-post.html" . }}
                            {{- end }}
                        </div>
                    </div>
                </div>
            </div>
            {{- end }}
        </div>
    </article>
</main>
{{- end }}