{{- define "content" }}
{{- $tags := .Site.Taxonomies.tags }}
<main class="main" role="main">
    <article class="content article article-tags post-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="name" class="hidden-xs">{{- .Title }}</h1>
            <p class="text-muted hidden-xs">{{- T "total_tag" (len $tags) }}</p>
            <nav role="navigation" id="nav-main" class="okayNav">
                <ul>
                    <li><a href="{{- "tags" | absURL }}">{{- T "nav_all" }}</a></li>
                    {{- range $tags }}
                    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                    {{- end }}
                </ul>
            </nav>
        </header>
        <!-- /header -->
        <div class="article-body">
            {{- range .Pages }}
            <div class="col-md-6">
                {{- partial "card-post.html" . }}
            </div>
            {{- end }}
        </div>
    </article>
</main>
{{- end }}