{{ if or .Site.Params.enableMathJax .Params.math }}
{{ partial "math.html" . }}
{{ end }}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script>
   window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
<script type="text/javascript" src="https://cdn.staticfile.org/highlight.js/9.15.10/highlight.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/highlight.js/9.15.10/languages/rust.min.js"></script>
<script type="text/javascript"
   src="https://cdn.staticfile.org/highlight.js/9.15.10/languages/dockerfile.min.js"></script>
<script>
hljs.configure({
  tabReplace: '    ', // 4 spaces
  classPrefix: ''     // don't append class prefix
                      // … other options aren't changed
})
hljs.initHighlightingOnLoad();
</script>
<script type="text/javascript" src="{{ "js/application.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/plugin.js" | absURL }}"></script>
<script>
      (function (window) {
          var INSIGHT_CONFIG = {
              TRANSLATION: {
                  POSTS: '{{ T "insight_posts"}}',
                  PAGES: '{{ T "insight_pages"}}',
                  CATEGORIES: '{{ T "insight_categories"}}',
                  TAGS: '{{ T "insight_tags"}}',
                  UNTITLED: '{{ T "insight_untitled"}}',
              },
              ROOT_URL: '{{ .Site.BaseURL }}',
              CONTENT_URL: '{{ print .Site.BaseURL "/searchindex.json" | safeURL }} ',
          };
          window.INSIGHT_CONFIG = INSIGHT_CONFIG;
      })(window);
      </script>
<script type="text/javascript" src="{{ "js/insight.js" | absURL }}"></script>
{{- if eq .Type "repository" }}
{{- partial "_script/repository.html" . }}
{{- end}}
<!-- TODO books -->
{{- if .IsPage }}
{{- partial "_script/pv.html" . }}
{{- end }}
{{- if in $.Site.Params.mainSections .Type }}
{{- partial "_script/comment.html" . }}
{{- end }}
{{- partial "_script/fancybox.html" . }}
{{- partial "_script/analytics.html" . }}
