{{- define "content"}}

<main class="main" role="main">
  {{/* partial "archive-list.html" . - */}} 
  <div class="content article-list">
    {{- range .Site.RegularPages -}}
    <article
      class="article article-type-page"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      <div class="article-header">
        {{ partial "post/title.html" . -}}
      </div>
      <div class="article-entry text-muted" itemprop="description">
        {{- .Summary -}}
      </div>
      <p class="article-meta">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </p>
    </article>
    {{- end -}}
  </div>
  {{/* partial "pagination.html" . - */}}
</main>
{{- end }}

